<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a href="../" class="navbar-brand">Rezepte & mehr</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/recipes' ]" routerLinkActive="active">Rezepte</a>            
          </li>         
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/cookbook' ]" routerLinkActive="active">Kochbuch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/weekplan' ]" routerLinkActive="active">Wochenplan</a>           
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/diary' ]" routerLinkActive="active">Tagebuch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/admin' ]" routerLinkActive="active">Administration</a>          
          </li>
        </ul>         
      </div>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Suche" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Suche</button>
      </form>
      <!-- Benutzer-->
      <ul class="navbar-nav px-3">
        <li class="nav-item dropdown">
          
        </li>
    </ul>
    </div>
  </div>