<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">    
    <a class="navbar-brand" [routerLink]="['/']">Meine Rezepte</a>    
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item mr-auto">
                <a class="nav-item nav-link" href="dashboard.html">Dashboard</a>                              
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-item nav-link" href="portfolio.html">Portfolio</a>                              
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-item nav-link" href="blog.html">Blog</a>                              
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-item nav-link" href="product.html">Produkt</a>                              
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-item nav-link" href="checkout.html">Checkout</a>                              
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-item nav-link" [routerLink]="[ '/recipes']" routerLinkActive="['link-active']">Rezepte</a> 
            </li>            
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>