<nav class="sidebar col-md-2 d-none d-md-block bg-dark">
    <div class="sidebar-sticky bg-darker">
        <ul class="nav flex-column">            
            <li class="nav-item">
                <a [routerLink]="[ '/admin/meals' ]" routerLinkActive="active">Mahlzeiten</a>               
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </span>
                    <span class="nav-name">Lebensmittel</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon">
                        <i class="fas fa-box"></i>
                    </span>
                    <span class="nav-name">Ernährungspläne</span>
                </a>
            </li>         
        </ul>                        
    </div>
</nav> <!-- End Sidebar --> 