<div id="headerCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#headerCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#headerCarousel" data-slide-to="1"></li>
        <li data-target="#headerCarousel" data-slide-to="2"></li>
      </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/pexels-essen-service-1013507.jpg" class="d-block w-100" alt="Rezeptesammlung">
        <div class="carousel-caption d-none d-md-block">
            <h1>Rezeptesammlung</h1>
            <p>Alle Rezepte in einer Datenbank</p>
            <p><a class="btn btn-light" href="#portfolio" role="button">Rezepte ansehen</a></p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/pexels-bich-tran-669986.jpg" class="d-block w-100" alt="Tagebuch">
        <div class="carousel-caption d-none d-md-block">
            <h1>Mein Wochenplan</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur nemo exercitationem, iste sequi distinctio esse similique incidunt aperiam nulla pariatur temporibus obcaecati aut error dolore. Inventore sed incidunt veniam reiciendis.</p>
            <p><a class="btn btn-light" href="#kontakt" role="button">Veränderung herbeiführen</a></p>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/pexels-sajith-ranatunga-5946167.jpg" class="d-block w-100" alt="wochenplan">
        <div class="carousel-caption d-none d-md-block">
            <h1>Netzgestalter</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quidem maxime praesentium voluptas ab sequi quos, ex ducimus esse, modi veniam culpa explicabo atque at. Ex veniam debitis doloribus autem.</p>
            <p><a class="btn btn-light" href="#service" role="button">Services verstehen</a></p>
          </div>
      </div>
      <a class="carousel-control-prev" href="#headerCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Vorheriges</span>
      </a>
      <a class="carousel-control-next" href="#headerCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Nächstes</span>
      </a>
    </div>
  </div>
